*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body,
#app {
  padding: 0;
  margin: 0;
}

html.dark {
  background: #121212;
}

canvas {
  display: block;
  opacity: 0.5;
}